@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("/back.jpg");
  background-repeat: no-repeat;
  background-size:auto ;
}

.calendar{
  width: 400px;
  background-color: white;
  margin: 50px auto;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header{
  background-color: #3498db;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  color: white;
}

button{
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  color: white;
  font-size: 20px;
}


select{
  border: none;
  padding: 0px 8px;
  margin: 0px 10px;
  border: #0099ff;
  border-radius: 3px;
  outline: none;
}

.daysOfWeek{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  text-align: center;
  padding: 10px;
  font-weight: bold;
  background-color: #e1f3ff;
  margin-bottom: 5px;
}

.days{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 8px;

}

.day,
.empty{
  padding: 8px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
}

.empty{
  background-color: #f9f9f9;
}

.day:hover{
  background-color: #0099ff;
  color: white;
}

.current{
  background-color: tomato;
  color: white;
}